.button {
    color: rgb(24, 21, 21);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}


.button:active {
    border: 1px solid black;
    transform: scale(0.95);
}