.manage-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  justify-self: center;
  align-items: center;
  border-radius: 8px;
}
.options-container {
  list-style-type: none;
  padding: 0;
}

.options {
  padding: 10px;
  background-color: #ff69b4;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.options:hover {
  background-color: #ff4c91;
}
