.button-submit {
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  background-color: #ff69b4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-submit:hover {
  background-color: #ff4c91;
}
.buttons-contaner {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.expense-amount-editor {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}



.history-holder {
  list-style-type: none;
  max-height: 200px;
  border-radius: 4px;
  padding: 0;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.history-holder li {
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.expense-amount-editor li:hover {
  background-color: #ff4c91a4;
}
