.formWrapper {
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 20px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
}

form {
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

button {
  margin-top: 20px; 
  width: max-content;
}
