
.nav-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #ffd1dc; 
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  text-decoration: none;
  color: #ff69b4;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: #ff69b4; 
  color: white; 
}


.active {
  background-color: #ff1493; 
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}