.combo-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.custom-input {
  height: 30px;
  width: 30px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 10px;
}
